.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.card, .btn, .form-control {
    border-radius: 0;
}

/*
 * Sidebar
 */


.sidebar-sticky {
    position: absolute;
    top: 50px; /* Height of navbar */
    height: calc(100vh - 50px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidenav .nav-link {
    font-weight: 500;
    color: #333;
}


    #sidenav .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    #sidenav .nav-link:active {
        color: #007bff;
    }

        #sidenav .nav-link:hover .feather,
        #sidenav .nav-link:active .feather {
            color: inherit;
        }


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link:active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link:active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.nav-list li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #515151 !important;
    color: #9d9d9d;
}

.nav-list > li > a {
    color: #C4C4C4;
    font-size: 14px;
    padding-left: 13px !important;
    border-bottom: 1px solid #585858;
}

    .nav-list > li > a:hover {
        background-color: #444444;
    }

.fa-caret-down {
    float: right;
    
}

.drop-nav > ul {
    display: none;
}

.drop-nav.active > ul {
    display: block;
}

li > ul {
    margin-left: 10px;
}

a.active {
    background: rgba(0, 0, 0, .25);
    color: white;
}

.btn {

    padding-top:0px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/*Carousle*/

.carousel-item {
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.ourworks-box {
    width: 60%;
    justify-content: center;
    text-align: center;
}

.our-works-head {
    font-size: 30px;
    font-weight: 400;
    color: black;
}


.card-deck {
    margin: 0 -15px;
    justify-content: space-between;
}

    .card-deck .card {
        margin: 0 0 1rem;
    }

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
}




/*Footer*/


@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);

#footer body {
    font-family: Rubik,sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px
}

#footer ul {
    padding: 0;
    margin: 0
}

#footer li {
    list-style: none
}

#footer a:focus, a:hover {
    text-decoration: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

#footer a:focus {
    outline: 0
}

#footer img {
    max-width: 100%
}

#footer p {
    font-size: 16px;
    line-height: 30px;
    color: #898b96;
    font-weight: 300
}

#footer h4 {
    font-family: Rubik,sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #363940
}

#footer a {
    color: #5867dd
}

.no-padding {
    padding: 0 !important
}



.footer-big {
    padding: 105px 0 65px 0
}

    .footer-big .footer-widget {
        margin-bottom: 40px
    }

.footer--light {
    background: #e7e8ed
}

.footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li {
    color: #898b96
}

.footer-menu {
    padding-left: 48px
}

    .footer-menu ul li a {
        font-size: 15px;
        line-height: 32px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s
    }

        .footer-menu ul li a:hover {
            color: #5867dd
        }

.footer-menu--1 {
    width: 100%
}

.footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px
}

.mini-footer {
    background: #192027;
    text-align: center;
    padding: 32px 0
}

    .mini-footer p {
        margin: 0;
        line-height: 26px;
        font-size: 15px;
        color: #999
    }

        .mini-footer p a {
            color: #5867dd
        }

            .mini-footer p a:hover {
                color: #34bfa3
            }

.widget-about img {
    display: block;
    margin-bottom: 30px
}

.widget-about p {
    font-weight: 400
}

.widget-about .contact-details {
    margin: 30px 0 0 0
}

    .widget-about .contact-details li {
        margin-bottom: 10px
    }

        .widget-about .contact-details li:last-child {
            margin-bottom: 0
        }

        .widget-about .contact-details li span {
            padding-right: 12px
        }

        .widget-about .contact-details li a {
            color: #5867dd
        }

@media (max-width:991px) {
    .footer-menu {
        padding-left: 0
    }
}
