<!-- signup form -->
<!--<hr>
<div class="row p-y-2 text-muted">
    <div class="col-md-6 col-xl-5">
        <p><strong>About Treehouse</strong></p>
        <p>Treehouse brings affordable technology education to people everywhere to help them achieve their dreams and change the world.</p>
    </div>
    <div class="col-md-6 col-xl-5 col-xl-offset-2">
        <p><strong>Stay up-to-date on Full Stack Conf</strong></p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Sign up</button>
            </span>
        </div>
    </div>
</div>
<hr>--><!-- /signup form -->
<!-- footer-->
<!--<div class="row p-y-1">
    <div class="col-md-7">
        <ul class="nav nav-inline">
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tracks</a>
            </li>
            <li class="nav-item">-->
                <!-- Split button -->
                <!--<div class="btn-group dropup">
                    <button type="button" class="btn btn-secondary">Other Confs</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">CSS Conf</a>
                        <a class="dropdown-item" href="#">Python Conf</a>
                        <a class="dropdown-item" href="#">Java Conf</a>
                        <a class="dropdown-item" href="#">Swift Conf</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-5 text-md-right">
        <small>&copy; 2016 Full Stack Conf &amp; Treehouse</small>
    </div>
</div>-->
<!-- /footer-->