@layout LandingPageLayout
@page "/"


@*<section class="jumbotron container-fluid bg-cover " id="main-pic">
    <div class="container">
        <h1>Make it <span class="text-success">Successful</span></h1>
        <h3>Build your own path</h3>
        <button type="button" class="btn btn-primary font-weight-bold">get started</button>
    </div>
</section>*@



<section class="slider-section">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol> <!-- End of Indicators -->
        <!-- Carousel Content -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background: #52c;">
                <div class="container">
                    <div class="carousel-caption  d-md-block">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>

            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg');">
                <div class="carousel-caption  d-md-block">
                    <h3>Bridge Picture</h3>
                    <p>Awesome description for bridge.</p>
                </div>
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736875_960_720.jpg');">
                <div class="carousel-caption  d-md-block">
                    <h3>Flowers & Grass</h3>
                    <p>Beauty of Flowers & Grass.</p>
                </div>
            </div> <!-- End of Carousel Item -->
        </div> <!-- End of Carousel Content -->
        <!-- Previous & Next -->
        <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div> <!-- End of Carousel -->
</section>


<section class="pt-5 circle-1">

    <div class="ourworks-box container pb-5 pt-5">
        <h1 class="our-works-head">Our Clients say</h1>
        <p>Check out what clients say about my services. Happy clients all over the world. Share your experience with me by submitting your reviews</p>
    </div>
  
        <!-- Card deck -->
        <div class="container-fluid p-5">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1050" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1041" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1039" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1019" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card deck -->

   
</section>


